<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<center>
    {{> options}}
    <h1>Register here</h1>
    <h4>
        <form action="/Register" method="post">
        <input type="text" name="email" placeholder="enter email"><br>
        <input type="text" name="username" placeholder="enter username"><br>
        <input type="password" name="password" placeholder="enter password"><br>
        <input type="number" name="age" placeholder="enter age"><br>
            <input type="submit" value="register">
        </form>
    </h4>
</center>
</body>
</html>